[run]
branch = True
source =
  frozensearch/engines
  frozensearch/__init__.py
  frozensearch/autocomplete.py
  frozensearch/https_rewrite.py
  frozensearch/languages.py
  frozensearch/search.py
  frozensearch/testing.py
  frozensearch/utils.py
  frozensearch/webapp.py

[report]
show_missing = True
exclude_lines =
    if __name__ == .__main__.:

[html]
directory = coverage
